# .github/workflows/lint.yml
name: Run ESLint

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Set up Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '14' # Ou la version de Node.js que vous utilisez
      - name: Install dependencies
        run: npm ci # Ou yarn install
      - name: Run ESLint
        uses: eslint/github-action@v1
        with:
          # La commande exacte pour exécuter ESLint (peut être personnalisée)
          args: 'eslint src/'
